.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.editorWrapper {
  display: block;
  height: 60%;
  width: 80%;
  overflow-y: scroll;
  max-width: 700px;
  padding: 50px;
  margin:30px;
  border: 1px solid #ddd;
  font-size: 21px;
  font-family: "Charter", Helvetica;
  line-height: 42px;
}

.button {
  border: 1px solid #2C3E50;
  font-family: "Charter", Helvetica;
  font-size: 18px;
  padding: 15px 30px;
  color: #2C3E50;
  border-radius: 3px;
}

.button:hover, .button:active {
  color: #fff;
  background: #2C3E50;
}