.post { /* stylelint-disable */
  height: 100%;
}

.postContainer {
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
}

.selfie {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  overflow: hidden;
}

.selfie img {
  height: 100%;
  width: 100%;
}

.emotions li{
  float: left;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.emotions img {
  height: 50px;
}

.keywords {
  float: right;
}

.keywords li {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
  margin-left: 10px;
  border-radius: 3px;
  background: #eee;
}