.post { /* stylelint-disable */
  height: 100%;
  margin-bottom: none;
}

.postContainer {
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
}

.selfie {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  overflow: hidden;
}

.selfie img {
  height: 100%;
  width: 100%;
}

.emojiContainer img {
  height: 99%;
  width: 99%;
}

.emojiContainer {
  float: right;
  margin-top: none;
}

.emojiContainer ul {
  list-style: none;
}

.emojiContainer li {
  display: inline-block;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  margin: 2px;
}